html
	head

	body
		h1 Hello #{user.name}, 
		br 
		h1 What are we gonna eat today?

		h1.recentFood Today's list
			if user.food
				each food in user.food
					p #{food.name} at: #{food.time}


		form(action='/profile' method = 'POST')
			input(type = 'text' name='name' Placeholder='Add food item')
			br
			input(type = 'text' name='time' Placeholder='Add time 00:00')
			br
			input(type = 'text' name='quantity' Placeholder='Quantitiy? In gr or unit')
			br
			input(type = 'text' name='healthy' Placeholder='Healty? 1-5')
			br
			button(type='submit' formmethod='Post') Plan!

		#foodMessage

		script.
			//via app.js heb je req.session.user.arrayOfTimes meegekregen als arrayOfTimes
			setInterval(function(){
	      
				var formattedDate = new Date().getHours() + ":" + new Date().getMinutes()
				var arrayOfTimes = JSON.parse('!{plannedFoodTimes}') //!{var_name} makes sure pug understands it is a server-side variable. JSON.parse transforms it into a proper client-side variable. Click on inspect in Chrome to see what actually happens.

				console.log( 'arrayOfTimes.length' )
				console.log(arrayOfTimes.length)
				console.log('arrayOfTimes')
				console.log(arrayOfTimes)
				console.log('formattedDate')	
				console.log(formattedDate)


				for(i = 0 ; i < arrayOfTimes.length; i++){
					if(formattedDate === arrayOfTimes[i].time) {
						console.log('Its: ' + arrayOfTimes[i].time +' time for your ' + arrayOfTimes[i].foodName)
						document.getElementById('foodMessage').innerHTML = '<p>It is time to eat your ' + arrayOfTimes[i].foodName + '</p>'
					}//for
				}
			}, 1000)